{% extends "base.html" %}
{% block content %}
    <h1>New Post</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
